<phpunit bootstrap="./tests/phpunit.php">
	<testsuite name="unit">
		<directory>./tests</directory>
	</testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">./modules</directory>
			<file>footer.php</file>
			<file>Hello.php</file>
			<file>index.php</file>
			<file>navHeader.php</file>
			<file>PFooter.php</file>
			<file>PHeader.php</file>
			<file>Pindex.php</file>
		</whitelist>
	</filter>
</phpunit>